/* ==============================================
	The One
	============================================== */

$dark-theme: true; // Set true if theme has a dark background

// Import Styles
@import "base/theme-config";

// Palette
$base00: #282c34; // darkest
$base01: #2c323c;
$base02: #373f4b;
$base03: #3e4451;
$base04: #5c636c;
$base05: #7d8793;
$base06: #abb2ba;
$base07: #c3cbd4; // brighest
$base08: #DF6B75; // red
$base09: #D19965; // orange
$base0A: #e2c08d; // yellow
$base0B: #97C279; // green
$base0C: #56B5C2; // aqua
$base0D: #61AFEF; // blue
$base0E: #C578DD; // purple
$base0F: #d19365; // brown

// Styles
@include styles(
$base00, // Background
$base01, // Background - Highlight
$base04, // Comments / Secondary Content
$base07, // Body text / default code / primary content / HTML attr name / CSS rule value
$base07, // Optional emphasized content
$base07, // CSS Properties
$base08, // CSS3 pseudo-selectors / elements
$base0E, // CSS Keywords (!important, etc.)
$base08, // HTML Tags / CSS ID/Class Selectors / JS Keywords / Current item highlight
$base0B, // HTML/CSS/JS Strings
$base0C, // CSS Tag Selectors / JS Operators (in Canary)
$base0A  // Accent / Highlight
);

::shadow .webkit-html-attribute-name,
.webkit-html-attribute-name { color: $base09 !important; }
::shadow .webkit-html-attribute-value,
.webkit-html-attribute-value { color: $base0B !important; }

.style-properties .webkit-css-property,
::shadow .tree-outline .webkit-css-property { color: $base07 !important; }
.style-properties .value,
::shadow .tree-outline .value { color: $base09 !important; }

.elements ::shadow .elements-disclosure li.selected .selection,
.elements ::shadow .elements-disclosure ol:focus li.selected .selection {
	background-color: $base03 !important;
}
