/* ==============================================
   Theme panel stylesheet
   ============================================== */

/**
 * Base
 */
@import "base/variables";
@import "base/typography";

/**
 * Custom panel styles
 */
*,
*::before,
*::after {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background: $grey;
  position: relative;
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

select,
input[type="text"],
input[type="range"],
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: transparent;
  outline: none;
  width: 100%;
  height: 2.3125rem;
  padding: 0.5rem;
  margin: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

select {
  border-radius: 0.125rem;
  border: 0.0625rem solid #cccccc;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  line-height: normal;
  font: inherit;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.75);
  text-transform: none;
}

input[type="text"] {
  border: 0.0625rem solid #cccccc;
}

input[type="range"] {
  border: 0 none;
  line-height: normal;
  font: inherit;
  transition: all 0.15s ease;

  &:focus {
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.075);
    }
  }
}

input[type="range"]::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  border: 0.1875rem solid #cccccc;
  background-color: #E6E6E6;
  box-shadow: 0 0 0 0.1875rem #E6E6E6;
  border-radius: 100%;
  margin-top: -0.5rem;
  transition: inherit;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.125rem;
  cursor: pointer;
  background: #cccccc;
  border-radius: 0.25rem;
}

.alert {
  display: none;
  position: absolute;
  z-index: 3;
  width: 100%;
  min-width: $row-min-width;
  height: 2.5rem;
  padding: 0.625rem 0;
  background-color: #7bc082;
  color: white;
  text-align: center;
  font-size: 0.875rem;
  transition: all 0.25s ease;
  animation: fadeInDown 0.75s $custom-easing both 1s;
}

.container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  max-width: $row-width;
  min-width: $row-min-width;
  margin: 0 auto;
  padding: 0 2rem;

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-style: normal;
    color: #222222;
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;

    small {
      font-size: 60%;
      color: #6f6f6f;
      line-height: 0;
      font-weight: 300;
      letter-spacing: 0.05em;
    }
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
  }

  h1 {
    font-size: 4em;
    font-weight: lighter;
    line-height: 1;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    letter-spacing: 0.025em;
    animation: fadeInDownShort 0.5s $custom-easing both 0.5s;
    pointer-events: none;
  }

  h4 {
    font-size: 2em;
  }

  .palette {
    height: 2em;
    margin-bottom: 2em;
    font-size: 1em;

    li {
      position: relative;
      z-index: 1;
      list-style: none;
      display: block;
      float: left;
      height: 50%;
      transition: transform 0.25s cubic-bezier(.55, 1.15, 0.1, 1.15);
      animation: zoomIn 0.15s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

      @for $item from 1 through 20 {
        &:nth-child(#{$item}){
          animation-delay: #{$item/12}s;
        }
      }

      &::before {
        display: block;
        transition: inherit;
        content: '';
        position: absolute;
        border-radius: 10%;
        width: 100%;
        height: 100%;
        background-color: inherit;
        transform: scale3d(1, 1, 1);
        box-shadow: none;
      }

      &:hover {
        z-index: 2;

        &::before {
          border-radius: 1%;
          transform: scale3d(1.5, 4, 1);
          box-shadow: 0 0 0.125rem 0 rgba(0,0,0,0.15);
        }
      }
    }

    &::after {
      display: table;
      content: '';
      clear: both;
    }
  }

  select,
  .font-family,
  .font-size {
    width: 60%;
    margin: 0 auto 2em;
    display: block;
  }

  .font-family,
  .font-size {
    margin-top: 1.25rem;

    label {
      display: block;
      text-align: left;
      margin-bottom: 0.5em;
    }
    
    input {
      display: block;
      background-image: none;
    }
  }

  .font-family {

    input {
      font-size: 0.875rem;
    }
  }
}

@media (min-width: $row-width) {
  .container {
    .title {
      padding: 0.625rem 0;
    }
    h1 {
      font-size: 6em;
    }
  }
}

.footer {
  position: absolute;
  bottom: 2.5%;
  right: 2.5%;

  a {
    text-decoration: none;
    color: #6f6f6f;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  93% {
    transform: translate3d(0, 7%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDownShort {
  0% {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}