/* ==============================================
   Theme panel stylesheet
   ============================================== */

// Vendor
@import "foundation/scss/normalize",
        "foundation/scss/foundation";
@import "compass/css3";

// Base
@import "base/typography";

// Modules
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  background: rgb(230, 230, 230);
}

.container {
  position: relative;
  top: 50%;
  margin-top: -16em;

  h1 {
    margin-bottom: 0.5em;
  }

  .success-text {
    color: green;
  }
}