/*
 * Vendor
 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
 * Variables
 */
/*
 * Mixins
 */
/*
 * Functions
 */
/*
 * Easing
 *
 * Gets easing function from $ease map
 * @param {$key} key (name) of specific easing function to return
 */
/*
 * rem/em Calculator
 *
 * target / context = result
 * @param {$target}  Target size in pixels (ie. 32px)
 * @param {$context} Font size providing context for proportion, defaults to $base-font)
 * @param {$unit} unit for rem/em output, defaults to 'em'
 */
/*
 * Exponent Calculator
 *
 * https://gist.github.com/scottkellum/1160816
 * @param {$base} base number
 * @param {$exponent} exponent/power number
 */
/*
 * Type Scale Calculator
 * 
 * Create typographic scales
 * @param {$i} increment of scale; 0 is base
 * @param {$scale} scale ratio; defaults to 1.25
 */
@media only screen and (min-width: 640px) {
  .mobile-only {
    display: none;
  }
}

/**
 * Typography
 */
html {
  font-size: 20px;
}

body {
  font: normal normal 300 0.8em/1.5 "Open Sans", sans-serif;
  color: #4a4a4a;
}

@media only screen and (min-width: 640px) {
  body {
    font-size: 1em;
  }
}

/**
 * @section Headings
 */
h1,
h2,
h3,
h4 {
  font-weight: 300;
  margin: 0 0 1em;
}

h1 {
  font-size: 2.44140625em;
}

h2 {
  font-size: 1.953125em;
}

h3 {
  font-size: 1.5625em;
}

h4 {
  font-size: 1.25em;
}

h5, h6 {
  font-size: 0.8em;
}

h5 {
  font-weight: bold;
  font-weight: 400;
}

h6 {
  font-style: italic;
}

/**
 * @section Margins
 */
ul, ol, p {
  margin: 0 0 1em;
}

/**
 * @section Inline
 */
a {
  text-decoration: none;
  word-wrap: break-word;
  color: #76705c;
  transition: all 0.25s ease;
}

a:link:not(.button) {
  color: #76705c;
}

a:link:not(.button):visited,
a:link:not(.button):hover,
a:link:not(.button):active,
a:link:not(.button):focus {
  outline: none;
  color: #595546;
}

a:link:not(.button):hover {
  color: #595546;
}

a:link:not(.button).link {
  color: #FB2E72;
}

a:link:not(.button).link::before {
  background-color: #fc6094;
}

a:link:not(.button).link:hover {
  color: #fc6094;
}

a:link:not(.button).external,
a:link:not(.button).keyword {
  color: #5DD9F3;
}

a:link:not(.button).option {
  color: #ead95c;
}

a.internal {
  color: #abdf00;
}

a.internal:hover {
  color: #c8ff13;
}

@media only screen and (min-width: 640px) {
  a:link:not(.button) {
    position: relative;
  }
  a:link:not(.button):before {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #e6e6e6;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    transition: inherit;
  }
  a:link:not(.button):hover:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

pre {
  font-family: "Hack", "Source Code Pro", "Droid Sans Mono", monospace;
  white-space: normal;
}

.keyword {
  color: #5DD9F3;
}

.option {
  color: #ead95c;
}

/**
 * Animations
 */
@-webkit-keyframes wave-fill {
  0% {
    fill: transparent;
  }
  10% {
    fill: #4586f3;
  }
  30% {
    fill: #4586f3;
  }
  40% {
    fill: transparent;
  }
  100% {
    fill: transparent;
  }
}
@keyframes wave-fill {
  0% {
    fill: transparent;
  }
  10% {
    fill: #4586f3;
  }
  30% {
    fill: #4586f3;
  }
  40% {
    fill: transparent;
  }
  100% {
    fill: transparent;
  }
}

@-webkit-keyframes cloud-stroke-fill {
  0% {
    stroke: #eaeaea;
    fill: transparent;
  }
  10% {
    stroke: #4586f3;
    fill: #4586f3;
  }
  45% {
    stroke: #4586f3;
    fill: #4586f3;
  }
  55% {
    stroke: #eaeaea;
    fill: transparent;
  }
  100% {
    stroke: #eaeaea;
    fill: transparent;
  }
}

@keyframes cloud-stroke-fill {
  0% {
    stroke: #eaeaea;
    fill: transparent;
  }
  10% {
    stroke: #4586f3;
    fill: #4586f3;
  }
  45% {
    stroke: #4586f3;
    fill: #4586f3;
  }
  55% {
    stroke: #eaeaea;
    fill: transparent;
  }
  100% {
    stroke: #eaeaea;
    fill: transparent;
  }
}

@-webkit-keyframes rotate-pause {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  40% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes rotate-pause {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  40% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes chrome-bump-small {
  0% {
    background-position: center 118%;
  }
  3% {
    background-position: center 119%;
  }
  5% {
    background-position: center 116%;
  }
  10% {
    background-position: center 118%;
  }
  100% {
    background-position: center 118%;
  }
}

@keyframes chrome-bump-small {
  0% {
    background-position: center 118%;
  }
  3% {
    background-position: center 119%;
  }
  5% {
    background-position: center 116%;
  }
  10% {
    background-position: center 118%;
  }
  100% {
    background-position: center 118%;
  }
}

@-webkit-keyframes chrome-bump-large {
  0% {
    background-position: center 155%;
  }
  3% {
    background-position: center 157%;
  }
  5% {
    background-position: center 151%;
  }
  10% {
    background-position: center 155%;
  }
  100% {
    background-position: center 155%;
  }
}

@keyframes chrome-bump-large {
  0% {
    background-position: center 155%;
  }
  3% {
    background-position: center 157%;
  }
  5% {
    background-position: center 151%;
  }
  10% {
    background-position: center 155%;
  }
  100% {
    background-position: center 155%;
  }
}

/*
 * Layout
 */
/*
 * Common layout styles
 */
.main-header,
.main-intro,
.feature-section,
.usage-section,
.faq-section {
  min-height: 45rem;
}

.main-intro,
.feature-section,
.usage-section,
.faq-section {
  padding-top: 3.5rem;
}

@media only screen and (min-width: 640px) {
  .feature-section,
  .usage-section,
  .faq-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.feature-section h3,
.feature-section h4,
.usage-section h3,
.usage-section h4,
.faq-section h3, .faq-section h4 {
  width: 90%;
  text-align: center;
  font-style: italic;
  margin: 0 auto 2em;
}

@media only screen and (min-width: 640px) {
  .feature-section h3,
  .feature-section h4,
  .usage-section h3,
  .usage-section h4,
  .faq-section h3, .faq-section h4 {
    width: 100%;
  }
}

/*
 * Grid
 */
.container {
  width: 100%;
  height: 100%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.container img {
  width: 100%;
  height: auto;
}

.row {
  width: 100%;
  position: relative;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

@media only screen and (min-width: 640px) {
  .row {
    width: auto;
    margin-left: -1em;
    margin-right: -1em;
  }
}

[class^="col-"] {
  width: 100%;
  float: left;
  min-height: 1px;
  padding: 0 1em;
}

@media only screen and (min-width: 640px) {
  .col-1 {
    width: 8.3333333333%;
  }
}

@media only screen and (min-width: 640px) {
  .col-2 {
    width: 16.6666666667%;
  }
}

@media only screen and (min-width: 640px) {
  .col-3 {
    width: 25%;
  }
}

@media only screen and (min-width: 640px) {
  .col-4 {
    width: 33.3333333333%;
  }
}

@media only screen and (min-width: 640px) {
  .col-5 {
    width: 41.6666666667%;
  }
}

@media only screen and (min-width: 640px) {
  .col-6 {
    width: 50%;
  }
}

@media only screen and (min-width: 640px) {
  .col-7 {
    width: 58.3333333333%;
  }
}

@media only screen and (min-width: 640px) {
  .col-8 {
    width: 66.6666666667%;
  }
}

@media only screen and (min-width: 640px) {
  .col-9 {
    width: 75%;
  }
}

@media only screen and (min-width: 640px) {
  .col-10 {
    width: 83.3333333333%;
  }
}

@media only screen and (min-width: 640px) {
  .col-11 {
    width: 91.6666666667%;
  }
}

@media only screen and (min-width: 640px) {
  .col-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 640px) {
  .col-1-medium {
    width: 8.3333333333%;
  }
}

@media only screen and (min-width: 640px) {
  .col-2-medium {
    width: 16.6666666667%;
  }
}

@media only screen and (min-width: 640px) {
  .col-3-medium {
    width: 25%;
  }
}

@media only screen and (min-width: 640px) {
  .col-4-medium {
    width: 33.3333333333%;
  }
}

@media only screen and (min-width: 640px) {
  .col-5-medium {
    width: 41.6666666667%;
  }
}

@media only screen and (min-width: 640px) {
  .col-6-medium {
    width: 50%;
  }
}

@media only screen and (min-width: 640px) {
  .col-7-medium {
    width: 58.3333333333%;
  }
}

@media only screen and (min-width: 640px) {
  .col-8-medium {
    width: 66.6666666667%;
  }
}

@media only screen and (min-width: 640px) {
  .col-9-medium {
    width: 75%;
  }
}

@media only screen and (min-width: 640px) {
  .col-10-medium {
    width: 83.3333333333%;
  }
}

@media only screen and (min-width: 640px) {
  .col-11-medium {
    width: 91.6666666667%;
  }
}

@media only screen and (min-width: 640px) {
  .col-12-medium {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .col-1-large {
    width: 8.3333333333%;
  }
}

@media only screen and (min-width: 1024px) {
  .col-2-large {
    width: 16.6666666667%;
  }
}

@media only screen and (min-width: 1024px) {
  .col-3-large {
    width: 25%;
  }
}

@media only screen and (min-width: 1024px) {
  .col-4-large {
    width: 33.3333333333%;
  }
}

@media only screen and (min-width: 1024px) {
  .col-5-large {
    width: 41.6666666667%;
  }
}

@media only screen and (min-width: 1024px) {
  .col-6-large {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .col-7-large {
    width: 58.3333333333%;
  }
}

@media only screen and (min-width: 1024px) {
  .col-8-large {
    width: 66.6666666667%;
  }
}

@media only screen and (min-width: 1024px) {
  .col-9-large {
    width: 75%;
  }
}

@media only screen and (min-width: 1024px) {
  .col-10-large {
    width: 83.3333333333%;
  }
}

@media only screen and (min-width: 1024px) {
  .col-11-large {
    width: 91.6666666667%;
  }
}

@media only screen and (min-width: 1024px) {
  .col-12-large {
    width: 100%;
  }
}

.main-header {
  padding-top: 4rem;
  background-image: url("images/devtools-author-monokai-theme.png");
  background-repeat: no-repeat;
  background-position: center 200%;
  box-shadow: inset 0 10px 0 0 #1e1e19;
  text-align: center;
}

.main-header .logo {
  max-width: 12rem;
}

.main-header .sitename {
  font-weight: 300;
  line-height: 1.25;
}

@media only screen and (min-width: 640px) {
  .main-header .sitename {
    margin-bottom: 0.5em;
  }
}

.main-header .button {
  font-size: 0.8em;
}

.main-header .call-to-action {
  text-align: center;
}

@media only screen and (min-width: 640px) {
  .main-header .row {
    margin: 0 auto;
  }
  .main-header .col-12 {
    padding: 0;
  }
  .main-header .logo {
    max-width: 14rem;
  }
}

@media only screen and (min-width: 1024px) {
  .main-header {
    text-align: left;
  }
  .main-header .hero {
    max-width: 60%;
  }
  .main-header .logo {
    max-width: 16rem;
    float: left;
  }
  .main-header .sitename {
    margin-top: 5rem;
    margin-left: 1.25rem;
    width: 40%;
    float: left;
  }
}

.main-intro {
  text-align: center;
  background-image: url("images/devtools-author-settings.png");
  background-repeat: no-repeat;
  background-position: center 200%;
}

@media only screen and (min-width: 640px) {
  .main-intro {
    height: 45rem;
  }
}

.main-intro .subtitle {
  font-style: italic;
}

.main-intro .main-intro-image {
  display: none;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 3.5rem;
  transition: all 0.25s (in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955), in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1), in-out-quart: cubic-bezier(0.77, 0, 0.175, 1), in-out-quint: cubic-bezier(0.86, 0, 0.07, 1), in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86), swift-out: cubic-bezier(0.55, 0, 0.1, 1), material: cubic-bezier(0.4, 0, 0.2, 1));
}

@media only screen and (min-width: 640px) {
  .main-intro .main-intro-image {
    display: block;
    width: 41.6rem;
    position: absolute;
    top: 50%;
    left: -26rem;
    margin-top: -15.975rem;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 792px) {
  .main-intro .main-intro-image {
    left: -25rem;
  }
}

@media only screen and (min-width: 867px) {
  .main-intro .main-intro-image {
    left: -23.35rem;
  }
}

@media only screen and (min-width: 1000px) {
  .main-intro .main-intro-image {
    left: -20rem;
  }
}

@media only screen and (min-width: 1024px) {
  .main-intro .main-intro-image {
    left: -40%;
  }
}

.main-intro .row {
  height: 100%;
}

.main-intro .button.cta {
  display: block;
  background-color: #FB2E72;
  color: #eaeaea;
  margin: 2rem 0 1rem;
}

.main-intro .button.cta:focus,
.main-intro .button.cta:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: #fb1561;
}

.main-intro .button.cta:active {
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
}

.main-intro .content {
  position: relative;
}

.main-intro .cta,
.main-intro .link-to-github {
  font-size: 0.8em;
}

.main-intro .link-to-github {
  color: #76705c;
}

@media only screen and (min-width: 640px) {
  .main-intro {
    background-image: none;
    text-align: left;
    padding-top: 0;
  }
  .main-intro .subtitle {
    width: 100%;
    max-width: 20rem;
  }
  .main-intro .content {
    top: 7.5rem;
  }
  .main-intro .cta {
    margin: 1.75em 0;
    font-size: 1em;
  }
}

@media only screen and (min-width: 653px) {
  .main-intro .content {
    top: 9rem;
  }
}

@media only screen and (min-width: 792px) {
  .main-intro .content {
    top: 11rem;
  }
}

@media only screen and (min-width: 867px) {
  .main-intro .content {
    top: 13.35rem;
  }
}

.feature-section {
  background-image: url("images/chrome-512.png");
  background-repeat: no-repeat;
  background-position: center 118%;
  background-size: 15rem;
  -webkit-animation-name: chrome-bump-small;
          animation-name: chrome-bump-small;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-delay: -0.2666666667s;
          animation-delay: -0.2666666667s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@media only screen and (min-width: 640px) {
  .feature-section {
    background-position: center 155%;
    background-size: auto auto;
    -webkit-animation-name: chrome-bump-large;
            animation-name: chrome-bump-large;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-animation-delay: -0.2666666667s;
            animation-delay: -0.2666666667s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
}

.feature-section .callout {
  height: 8rem;
}

@media only screen and (min-width: 640px) {
  .feature-section .callout {
    height: 9rem;
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .feature-section .callout {
    height: 10rem;
    margin-bottom: 5rem;
  }
}

.feature-section .callout h4 {
  font-size: 1.25em;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 640px) {
  .feature-section .callout h4 {
    font-size: 1em;
    padding: 0 0.7rem;
  }
}

@media only screen and (min-width: 790px) {
  .feature-section .callout h4 {
    padding: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .feature-section .callout h4 {
    position: absolute;
    bottom: 0.5rem;
    padding: 0 1rem;
    margin: 0 0 1em -2rem;
  }
}

@media only screen and (min-width: 640px) {
  .feature-section .callout.font-family h4 {
    padding: 0;
  }
}

@media only screen and (min-width: 783px) {
  .feature-section .callout.font-family h4 {
    padding: 0 0.7rem;
  }
}

@media only screen and (min-width: 790px) {
  .feature-section .callout.font-family h4 {
    padding: 0;
  }
}

.feature-section .callout .theme-demo {
  width: 4rem;
  height: 4rem;
  position: relative;
  margin: 0.5rem auto 0;
}

.feature-section .callout .theme-demo [class^='theme-'] {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  position: absolute;
}

.feature-section .callout .theme-demo .theme-monokai-1 {
  background-color: #1e1e19;
  top: 0;
  left: 0;
}

.feature-section .callout .theme-demo .theme-monokai-2 {
  background-color: #76705c;
  top: 0.25rem;
  left: 0.5rem;
}

.feature-section .callout .theme-demo .theme-monokai-3 {
  background-color: #5DD9F3;
  top: 0.5rem;
  left: 1rem;
}

.feature-section .callout .theme-demo .theme-monokai-4 {
  background-color: #abdf00;
  top: 0.75rem;
  left: 1.5rem;
}

.feature-section .callout .theme-demo .theme-monokai-5 {
  background-color: #FB2E72;
  top: 1rem;
  left: 2rem;
}

.feature-section .callout .hack-demo {
  display: inline-block;
  font-family: "Hack", "Source Code Pro", "Droid Sans Mono", monospace;
  font-size: 2.44140625em;
  margin: 0.7rem 0 0.45rem;
}

@media only screen and (min-width: 640px) {
  .feature-section .callout .hack-demo {
    font-size: 1.953125em;
    margin: 1.15rem 0 0.35rem;
  }
}

@media only screen and (min-width: 1024px) {
  .feature-section .callout .hack-demo {
    font-size: 2.44140625em;
    margin: 0.25rem 0 0.35rem;
  }
}

.feature-section .callout [class^='font-size-'] {
  font-weight: 400;
  color: #FB2E72;
}

.feature-section .callout .font-size-demo {
  margin: 0.75rem 0 1em;
}

@media only screen and (min-width: 640px) {
  .feature-section .callout .font-size-demo {
    font-size: 0.8rem;
    margin: 1.35rem 0 0.9rem;
  }
}

@media only screen and (min-width: 790px) {
  .feature-section .callout .font-size-demo {
    font-size: 0.9rem;
    margin: 1.15rem 0;
  }
}

@media only screen and (min-width: 1024px) {
  .feature-section .callout .font-size-demo {
    font-size: 1rem;
  }
}

.feature-section .callout .font-size-10 {
  font-size: 1em;
}

.feature-section .callout .font-size-12 {
  font-size: 1.2em;
}

.feature-section .callout .font-size-14 {
  font-size: 1.4em;
}

.feature-section .callout .font-size-16 {
  font-size: 1.6em;
}

.feature-section .storage-section {
  padding-bottom: 8rem;
}

@media only screen and (min-width: 640px) {
  .feature-section .storage-section {
    padding-bottom: 7.5rem;
  }
}

@media only screen and (min-width: 865px) {
  .feature-section .storage-section {
    padding-bottom: 8rem;
  }
}

.feature-section .storage-section .cloud {
  display: block;
  width: 50%;
  height: auto;
  min-width: 5.5rem;
  max-width: 8rem;
  margin: 0 auto;
}

@media only screen and (min-width: 640px) {
  .feature-section .storage-section .cloud {
    width: auto;
    height: auto;
    max-width: 9.15rem;
  }
}

.feature-section .storage-section .cloud .cumulonimbus {
  -webkit-animation-name: cloud-stroke-fill;
          animation-name: cloud-stroke-fill;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-delay: 0.6666666667s;
          animation-delay: 0.6666666667s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.feature-section .storage-section .radio {
  position: relative;
  top: 1rem;
  display: block;
  width: auto;
  height: auto;
  min-height: 1rem;
  max-height: 1.5rem;
  margin: 0 auto;
  -webkit-animation-name: rotate-pause;
          animation-name: rotate-pause;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@media only screen and (min-width: 640px) {
  .feature-section .storage-section .radio {
    top: 1.25rem;
    width: auto;
    height: auto;
    max-height: 2.5rem;
  }
}

.feature-section .storage-section .radio .wave {
  -webkit-animation-name: wave-fill;
          animation-name: wave-fill;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.feature-section .storage-section .radio .wave:nth-child(2) {
  -webkit-animation-delay: 0.1333333333s;
          animation-delay: 0.1333333333s;
}

.feature-section .storage-section .radio .wave:nth-child(3) {
  -webkit-animation-delay: 0.2666666667s;
          animation-delay: 0.2666666667s;
}

.faq-section dl {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto 4rem;
  text-align: center;
}

.faq-section dl dt {
  font-style: italic;
  font-size: 1.25em;
}

.faq-section dl dd {
  max-width: 80%;
}

.faq-section dl dd a {
  color: #5DD9F3;
}

.faq-section dl dd a::before {
  background-color: #5DD9F3;
}

.faq-section dl dd.video-link {
  position: relative;
}

.faq-section dl dd.video-link::before {
  content: '';
  display: block;
  background-image: url("images/YouTube-social-icon_dark_24px.png");
  background-size: contain;
  width: 1.2rem;
  height: 0.85rem;
  position: absolute;
  top: 50%;
  left: -2.5%;
  margin-top: -8.5px;
  opacity: 0.5;
}

.faq-section dl dt,
.faq-section dl dd {
  margin: 0 auto 1rem;
}

.faq-section .fake-element {
  color: #76705c;
}

.faq-section .thumbnail {
  position: relative;
  width: 100%;
  height: 3rem;
  overflow: hidden;
  text-align: center;
  margin-bottom: 1rem;
}

.faq-section .thumbnail::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 120%;
  height: 0.5rem;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), transparent 50%);
}

.faq-section .thumbnail img {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.faq-section .resource {
  height: 10.5rem;
  padding: 2rem 3rem;
  margin-bottom: 2em;
}

.faq-section .resource.google-developer img {
  max-width: 6.4rem;
  margin-top: -0.15rem;
}

.faq-section .resource.chrome-developer img {
  width: 6rem;
  margin-top: 0.5rem;
}

.faq-section .resource.code-school img {
  width: 6rem;
  margin-top: 0.5rem;
}

.faq-section .resource.addy-osmani img {
  width: 11.5rem;
  margin-top: 0.25rem;
  margin-left: 1rem;
}

.faq-section .resource:hover img {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media only screen and (min-width: 640px) {
  .faq-section .resource {
    padding: 2rem;
  }
}

.faq-section .back-to-top {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 0.8em;
}

.faq-section .back-to-top::before {
  display: block;
  content: '\261D';
  font-size: 2.44140625em;
}

.usage-section .installation {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto 3em;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 1rem;
}

@media only screen and (min-width: 640px) {
  .usage-section .installation {
    font-size: 0.8em;
    padding: 2rem;
  }
}

.usage-section .installation li {
  margin: 0 0 0.5rem 1.5rem;
}

.usage-section .installation .link:before {
  background-color: #FB2E72;
}

.usage-section .installation .link.internal {
  display: inline-block;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.usage-section .installation .comment {
  color: #76705c;
  font-style: italic;
}

.usage-section .installation .comment a:before {
  background-color: #5DD9F3;
}

.usage-section .installation .comment a:hover {
  color: #8ce4f7;
}

.usage-section .installation > :last-child {
  margin-bottom: 0;
}

.usage-section .github-issues::before {
  content: '';
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("images/GitHub-Mark-Light-64px.png");
  background-repeat: no-repeat;
  background-size: 48px;
  margin: -0.4rem auto 1.4rem;
  opacity: 0.1;
}

.main-footer {
  min-height: 7.5rem;
  padding: 3.25rem 1.5rem;
}

@media only screen and (min-width: 640px) {
  .main-footer {
    padding: 3rem;
  }
}

.main-footer .copyright {
  text-align: center;
  margin-bottom: 0;
}

.main-footer .copyright .keyword {
  display: inline-block;
  color: #FB2E72;
  cursor: pointer;
  transition: all 0.15s (in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955), in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1), in-out-quart: cubic-bezier(0.77, 0, 0.175, 1), in-out-quint: cubic-bezier(0.86, 0, 0.07, 1), in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86), swift-out: cubic-bezier(0.55, 0, 0.1, 1), material: cubic-bezier(0.4, 0, 0.2, 1));
}

.main-footer .copyright .keyword:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

/*
 * Modules
 */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid #4a4a4a;
  border-radius: 3px;
  text-align: center;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #4a4a4a;
  color: #eaeaea;
}

.button:focus,
.button:active,
button:focus,
button:active,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="button"]:focus,
input[type="button"]:active {
  outline: none;
}

.button.cta,
button.cta,
input[type="submit"].cta,
input[type="reset"].cta,
input[type="button"].cta {
  display: inline-block;
  border: 1px solid #FB2E72;
  color: #FB2E72;
  background-color: transparent;
}

.button.cta:focus,
.button.cta:hover,
button.cta:focus,
button.cta:hover,
input[type="submit"].cta:focus,
input[type="submit"].cta:hover,
input[type="reset"].cta:focus,
input[type="reset"].cta:hover,
input[type="button"].cta:focus,
input[type="button"].cta:hover {
  background-color: #FB2E72;
  color: #eaeaea;
}

.callout {
  position: relative;
  padding: 1em;
  background-color: #eaeaea;
  border-radius: 4px;
  box-shadow: transparent;
  text-align: center;
  margin-bottom: 3em;
}

@media only screen and (min-width: 1024px) {
  .callout {
    padding: 2em;
  }
}

/*
 * Social sharing links
 */
.share-links {
  display: none;
  margin-top: -0.75rem;
  max-width: 15.5rem;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

@media screen and (min-width: 445px) {
  .share-links {
    max-width: inherit;
  }
}

@media only screen and (min-width: 1024px) {
  .share-links {
    margin-top: 0.75rem;
  }
}

.share-links #___plusone_0,
.share-links .github-star,
.share-links .twitter-share-button,
.share-links .fb-share-button {
  display: inline-block !important;
  margin: 1rem !important;
  vertical-align: top !important;
}

.share-links #___plusone_0 {
  width: 2.5rem !important;
}

.share-links .github-star {
  width: 2.6rem !important;
}

.share-links .twitter-share-button {
  width: 3.1rem !important;
}

.share-links .fb-share-button {
  width: 2.9rem !important;
  height: 1rem !important;
  text-align: center !important;
  width: 2.9rem !important;
}

.share-links .fb-share-button > span {
  vertical-align: top !important;
}

.share-links #___plusone_0,
.share-links :first-child {
  margin-left: 0 !important;
}

/*
 * Pages
 */
.dark-bg {
  color: #e6e6e6;
  background-color: #1e1e19;
}

.dark-bg a:not(.button):visited,
.dark-bg a:not(.button):hover,
.dark-bg a:not(.button):active,
.dark-bg a:not(.button):focus {
  outline: none;
  color: #e6e6e6;
}

.dark-bg a:not(.button):hover {
  color: #e6e6e6;
}
/*# sourceMappingURL=style.css.map */