/*
 * Vendor
 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
 * Variables
 */
/*
 * Mixins
 */
/*
 * Utilities
 */
/*
 * @section Functions
 */
/*
 * rem/em Calculator
 *
 * target / context = result
 * @param {$target}  Target size in pixels (ie. 32px)
 * @param {$context} Font size providing context for proportion, defaults to $base-font)
 * @param {$unit} unit for rem/em output, defaults to 'em'
 */
/*
 * Exponent Calculator
 *
 * https://gist.github.com/scottkellum/1160816
 * @param {$base} base number
 * @param {$exponent} exponent/power number
 */
/*
 * Type Scale Calculator
 * 
 * Create typographic scales
 * @param {$i} increment of scale; 0 is base
 * @param {$scale} scale ratio; defaults to 1.25
 */
/**
 * Typography
 */
html {
  font-size: 20px;
}

body {
  font: normal normal 300 0.8em/1.5 "Open Sans", sans-serif;
  color: #4a4a4a;
}

@media only screen and (min-width: 640px) {
  body {
    font-size: 1em;
  }
}

/**
 * @section Headings
 */
h1,
h2,
h3,
h4 {
  font-weight: 300;
  margin: 0 0 1em;
}

h1 {
  font-size: 2.44140625em;
}

h2 {
  font-size: 1.953125em;
}

h3 {
  font-size: 1.5625em;
}

h4 {
  font-size: 1.25em;
}

/**
 * @section Margins
 */
ul, ol, p {
  margin: 0 0 1em;
}

/**
 * @section Inline
 */
a {
  text-decoration: none;
  word-wrap: break-word;
  color: #76705c;
  transition: all 0.25s ease;
}

a:link:not(.button) {
  color: #76705c;
}

a:link:not(.button):hover {
  color: #e6e6e6;
}

@media only screen and (min-width: 640px) {
  a:link:not(.button) {
    position: relative;
  }
  a:link:not(.button):before {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #e6e6e6;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    transition: inherit;
  }
  a:link:not(.button):hover:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

a:visited,
a:hover,
a:active,
a:focus {
  outline: none;
  color: #e6e6e6;
}

a:hover {
  color: #e6e6e6;
}

pre {
  font-family: "Hack", "Source Code Pro", "Droid Sans Mono", monospace;
  white-space: normal;
}

/*
 * Layout
 */
/*
 * Common layout styles
 */
.main-header,
.main-intro,
.feature-section,
.usage-section,
.faq-section {
  min-height: 45rem;
}

@media only screen and (min-width: 640px) {
  .main-header,
  .main-intro,
  .feature-section,
  .usage-section,
  .faq-section {
    height: 45rem;
  }
}

.feature-section,
.usage-section,
.faq-section {
  padding-top: 3.5rem;
}

@media only screen and (min-width: 640px) {
  .feature-section,
  .usage-section,
  .faq-section {
    padding-top: 7rem;
  }
}

.feature-section h3,
.feature-section h4,
.usage-section h3,
.usage-section h4,
.faq-section h3, .faq-section h4 {
  width: 90%;
  text-align: center;
  font-style: italic;
  margin: 0 auto 2em;
}

@media only screen and (min-width: 640px) {
  .feature-section h3,
  .feature-section h4,
  .usage-section h3,
  .usage-section h4,
  .faq-section h3, .faq-section h4 {
    width: 100%;
  }
}

/*
 * Grid
 */
.container {
  width: 100%;
  height: 100%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.container img {
  width: 100%;
  height: auto;
}

.row {
  width: 100%;
  position: relative;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

@media only screen and (min-width: 640px) {
  .row {
    width: auto;
    margin-left: -1em;
    margin-right: -1em;
  }
}

[class^="col-"] {
  width: 100%;
  float: left;
  min-height: 1px;
  padding: 0 1em;
}

@media only screen and (min-width: 640px) {
  .col-1 {
    width: 8.3333333333%;
  }
}

@media only screen and (min-width: 640px) {
  .col-2 {
    width: 16.6666666667%;
  }
}

@media only screen and (min-width: 640px) {
  .col-3 {
    width: 25%;
  }
}

@media only screen and (min-width: 640px) {
  .col-4 {
    width: 33.3333333333%;
  }
}

@media only screen and (min-width: 640px) {
  .col-5 {
    width: 41.6666666667%;
  }
}

@media only screen and (min-width: 640px) {
  .col-6 {
    width: 50%;
  }
}

@media only screen and (min-width: 640px) {
  .col-7 {
    width: 58.3333333333%;
  }
}

@media only screen and (min-width: 640px) {
  .col-8 {
    width: 66.6666666667%;
  }
}

@media only screen and (min-width: 640px) {
  .col-9 {
    width: 75%;
  }
}

@media only screen and (min-width: 640px) {
  .col-10 {
    width: 83.3333333333%;
  }
}

@media only screen and (min-width: 640px) {
  .col-11 {
    width: 91.6666666667%;
  }
}

@media only screen and (min-width: 640px) {
  .col-12 {
    width: 100%;
  }
}

.main-header {
  padding-top: 4rem;
  background-image: url("images/devtools-author-monokai-theme.png");
  background-repeat: no-repeat;
  background-position: center 200%;
  box-shadow: inset 0 10px 0 0 #1e1e19;
  text-align: center;
}

.main-header .logo {
  max-width: 12rem;
}

.main-header .sitename {
  font-weight: 300;
  line-height: 1.25;
}

@media only screen and (min-width: 640px) {
  .main-header .row {
    margin: 0 auto;
  }
  .main-header .col-12 {
    padding: 0;
  }
  .main-header .logo {
    max-width: 14rem;
  }
}

@media only screen and (min-width: 1024px) {
  .main-header {
    text-align: left;
  }
  .main-header .row {
    max-width: 60%;
  }
  .main-header .logo {
    max-width: 16rem;
    float: left;
  }
  .main-header .sitename {
    margin-top: 5rem;
    margin-left: 1.25rem;
    width: 40%;
    float: left;
  }
}

.main-intro {
  text-align: center;
  padding-top: 5rem;
}

.main-intro .subtitle {
  font-style: italic;
}

.main-intro .main-intro-image {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 3.5rem;
}

@media only screen and (min-width: 640px) {
  .main-intro .main-intro-image {
    width: 41.6rem;
    position: absolute;
    top: 50%;
    left: -27rem;
    margin-top: -15.975rem;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .main-intro .main-intro-image {
    position: absolute;
    top: 50%;
    left: -40%;
    margin-top: -15.975rem;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .main-intro .main-intro-image {
    left: -45%;
  }
}

.main-intro .row {
  height: 100%;
}

.main-intro .cta {
  display: block;
  background-color: #FB2E72;
  color: #eaeaea;
  margin: 1.75em 0;
}

.main-intro .cta:focus,
.main-intro .cta:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: #fb1561;
}

.main-intro .cta:active {
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
}

.main-intro .content {
  position: relative;
}

.main-intro .link-to-github {
  color: #76705c;
}

@media only screen and (min-width: 640px) {
  .main-intro {
    text-align: left;
    padding-top: 0;
  }
  .main-intro .subtitle {
    width: 100%;
    max-width: 20rem;
  }
  .main-intro .content {
    top: 13.35rem;
  }
  .main-intro .link-to-github {
    font-size: 0.8em;
  }
}

.feature-section .callout {
  height: 8rem;
}

@media only screen and (min-width: 640px) {
  .feature-section .callout {
    height: 9rem;
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .feature-section .callout {
    height: 10rem;
    margin-bottom: 5rem;
  }
}

.feature-section .callout h4 {
  font-size: 1.25em;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 640px) {
  .feature-section .callout h4 {
    font-size: 1em;
    padding: 0 0.7rem;
  }
}

@media screen and (min-width: 790px) {
  .feature-section .callout h4 {
    padding: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .feature-section .callout h4 {
    position: absolute;
    bottom: 0.5rem;
    padding: 0 1rem;
    margin: 0 0 1em -2rem;
  }
}

@media only screen and (min-width: 640px) {
  .feature-section .callout.font-family h4 {
    padding: 0;
  }
}

@media screen and (min-width: 783px) {
  .feature-section .callout.font-family h4 {
    padding: 0 0.7rem;
  }
}

@media screen and (min-width: 790px) {
  .feature-section .callout.font-family h4 {
    padding: 0;
  }
}

.feature-section .callout .theme-demo {
  width: 4rem;
  height: 4rem;
  position: relative;
  margin: 0.5rem auto 0;
}

.feature-section .callout .theme-demo [class^='theme-'] {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  position: absolute;
}

.feature-section .callout .theme-demo .theme-monokai-1 {
  background-color: #1e1e19;
  top: 0;
  left: 0;
}

.feature-section .callout .theme-demo .theme-monokai-2 {
  background-color: #76705c;
  top: 0.25rem;
  left: 0.5rem;
}

.feature-section .callout .theme-demo .theme-monokai-3 {
  background-color: #5DD9F3;
  top: 0.5rem;
  left: 1rem;
}

.feature-section .callout .theme-demo .theme-monokai-4 {
  background-color: #abdf00;
  top: 0.75rem;
  left: 1.5rem;
}

.feature-section .callout .theme-demo .theme-monokai-5 {
  background-color: #FB2E72;
  top: 1rem;
  left: 2rem;
}

.feature-section .callout .hack-demo {
  display: inline-block;
  font-family: "Hack", "Source Code Pro", "Droid Sans Mono", monospace;
  font-size: 2.44140625em;
  margin: 1.15rem 0 0;
}

@media only screen and (min-width: 640px) {
  .feature-section .callout .hack-demo {
    font-size: 1.953125em;
    margin: 1.15rem 0 0.35rem;
  }
}

@media only screen and (min-width: 1024px) {
  .feature-section .callout .hack-demo {
    font-size: 2.44140625em;
    margin: 0.25rem 0 0.35rem;
  }
}

.feature-section .callout [class^='font-size-'] {
  font-weight: 400;
  color: #FB2E72;
}

.feature-section .callout .font-size-demo {
  margin: 0.75rem 0 1em;
}

@media only screen and (min-width: 640px) {
  .feature-section .callout .font-size-demo {
    font-size: 0.8rem;
    margin: 1.35rem 0 0.9rem;
  }
}

@media screen and (min-width: 790px) {
  .feature-section .callout .font-size-demo {
    font-size: 0.9rem;
    margin: 1.15rem 0;
  }
}

@media only screen and (min-width: 1024px) {
  .feature-section .callout .font-size-demo {
    font-size: 1rem;
  }
}

.feature-section .callout .font-size-10 {
  font-size: 1em;
}

.feature-section .callout .font-size-12 {
  font-size: 1.2em;
}

.feature-section .callout .font-size-14 {
  font-size: 1.4em;
}

.feature-section .callout .font-size-16 {
  font-size: 1.6em;
}

.faq-section dl {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto 6em;
  text-align: center;
}

.faq-section dl dt {
  font-style: italic;
  font-size: 1.25em;
}

.faq-section dl dd a {
  color: #5DD9F3;
}

.faq-section dl dd a::before {
  background-color: #5DD9F3;
}

.faq-section dl dt,
.faq-section dl dd {
  margin: 0 0 1rem;
}

.faq-section .fake-element {
  color: #76705c;
}

.usage-section .installation {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto 3em;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 1rem;
}

@media only screen and (min-width: 640px) {
  .usage-section .installation {
    font-size: 0.8em;
    padding: 2rem;
  }
}

.usage-section .installation li {
  margin: 0 0 0.5rem 1.5rem;
}

.usage-section .installation .link {
  color: #FB2E72;
}

.usage-section .installation .link:before {
  background-color: #FB2E72;
}

.usage-section .installation .link:hover {
  color: #fc6094;
}

.usage-section .installation .link.internal {
  display: inline-block;
  color: #abdf00;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.usage-section .installation .link.internal:hover {
  color: #c8ff13;
}

.usage-section .installation .keyword {
  color: #5DD9F3;
}

.usage-section .installation .option {
  color: #ead95c;
}

.usage-section .installation .comment {
  color: #76705c;
  font-style: italic;
}

.usage-section .installation .comment a:before {
  background-color: #5DD9F3;
}

.usage-section .installation .comment a:hover {
  color: #8ce4f7;
}

.usage-section .installation > :last-child {
  margin-bottom: 0;
}

.usage-section .keyword {
  color: #5DD9F3;
}

.main-footer {
  min-height: 7.5rem;
  padding: 3.25rem 2rem;
}

@media only screen and (min-width: 640px) {
  .main-footer {
    padding: 3rem;
  }
}

.main-footer .copyright {
  text-align: center;
  margin-bottom: 0;
}

.main-footer .copyright .keyword {
  display: inline-block;
  color: #FB2E72;
  cursor: pointer;
  transition: all 0.15s ease;
}

.main-footer .copyright .keyword:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

/*
 * Modules
 */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0 none;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 1em;
  margin-bottom: 0.5em;
  background-color: #DEDEDE;
  border-radius: 3px;
  text-align: center;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #CACACA;
}

.button:focus,
.button:active,
button:focus,
button:active,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="button"]:focus,
input[type="button"]:active {
  outline: none;
}

.callout {
  position: relative;
  padding: 1em;
  background-color: #eaeaea;
  border-radius: 4px 4px 0px 0px;
  box-shadow: 0px 5px 0px 0px #272821;
  text-align: center;
  margin-bottom: 3em;
}

@media only screen and (min-width: 1024px) {
  .callout {
    padding: 2em;
  }
}

/*
 * Pages
 */
.dark-bg {
  color: #e6e6e6;
  background-color: #1e1e19;
}
/*# sourceMappingURL=style.css.map */