/* ==============================================
   Color Schemes
   ============================================== */

// Solarized - Dark

$sd-base03: #002b36;
$sd-base02: #073642;
$sd-base01: #586e75;
$sd-base00: #657b83;
$sd-base0:  #839496;
$sd-base1:  #93a1a1;
$sd-base2:  #eee8d5;
$sd-base3:  #fdf6e3;
$sd-yellow: #b58900;
$sd-orange: #cb4b16;
$sd-red:    #dc322f;
$sd-magenta:#d33682;
$sd-violet: #6c71c4;
$sd-blue:   #268bd2;
$sd-cyan:   #2aa198;
$sd-green:  #859900;
