/* ==========================================================================
   Base Typography
   ========================================================================== */
   
:host-context(.platform-mac),
body.platform-mac,
body.platform-mac ::shadow {
  
  .monospace,
  .source-code {
    font-family: $mac-fonts !important;
    font-size: 14px !important;
    line-height: 1.6em !important;
  }

  .source-code {
    // Apply antialiased setting for dark themes
    // http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
    @if $dark-theme == true {
      -webkit-font-smoothing: antialiased;
    }
  }
}

:host-context(.platform-windows),
.platform-windows,
.platform-windows ::shadow {
  
  .monospace,
  .source-code {
    font-family: $win-fonts !important;
    font-size: 14px !important;
    line-height: 1.6em !important;
  }
}

:host-context(.platform-linux),
.platform-linux,
.platform-linux ::shadow {
  
  .monospace,
  .source-code {
    font-family: $lin-fonts !important;
    font-size: 14px !important;
    line-height: 1.6em !important;
  }
}