/* ==============================================
   Theme Name
   ============================================== */

$dark-theme: false; // Set true if theme has a dark background

// Import Styles
@import "base/theme-config";

// Palette
// 16 color palette (based on solarized)
// (eight monotones, eight accent colors)
$base03:;
$base02:;
$base01:;
$base00:;
$base0:;
$base1:;
$base2:;
$base3:;
$yellow:;
$orange:;
$red:;
$magenta:;
$violet:;
$blue:;
$cyan:;
$green:;

// Comment out below if 
// customizing palette
@if $dark-theme == true {
$base02: lighten($base03, 5%);
} @else {
$base02: darken($base03, 3.5%);   
}

// Styles
@include styles(
$base03, // Background
$base02, // Background - Highlight
$base01, // Comments / Secondary Content
$base0,  // Body text / default code / primary content
$base1,  // Optional emphasized content
$yellow, // CSS Properties
$orange, // CSS3 pseudo-selectors / elements
$red,    // CSS Keywords (!important, etc.)
$blue,   // HTML Tags / CSS ID/Class Selectors / JS Keywords
$cyan,   // HTML/CSS/JS Strings
$green,  // CSS Tag Selectors / JS Operators (in Canary)
$magenta // Accent / Highlight
);