/* ==========================================================================
   Common syntax styles (TO-DO: break up in to individual modules)
   ========================================================================== */

@mixin styles(
$background,            // Background
$background-highlight,  // Background - Highlight
$comments,              // Comments / Secondary Content
$body-text,             // Body text / default code / primary content
$body-text-highlight,   // Optional emphasized content
$property,              // CSS Properties
$pseudo,                // CSS3 pseudo-selectors / elements
$keyword,               // CSS Keywords (!important, etc.)
$selectors,             // HTML Tags / CSS ID/Class Selectors / JS Keywords
$strings,               // HTML/CSS/JS Strings
$operators,             // CSS Tag Selectors / JS Operators (in Canary)
$accent                 // Accent / Highlight
){

  // Panels
  .sources,
  .console,
  .console-view-wrapper {

    ::shadow .tabbed-pane-header {
      flex: none !important;

      .tabbed-pane-header-tab {
        height: 33px;
      }
    }

    ::shadow .shadow-split-widget.hbox > .shadow-split-widget-sidebar:not(.maximized) {
      border-right: 1px solid $background-highlight;
    }

    .console-message-wrapper {
      border-bottom: 1px solid $background-highlight;
    }

    // Background - Main Panel
    #sources-panel-sources-view,
    #console-messages {
      background-color: $background !important;

      .cm-line-without-source-mapping {
        background-color: $background !important;
      }

      .sources-editor-tabstrip-left {
        width: 25px;
      }

      ::shadow .tabbed-pane-header {
        background: darken($background, 3.5%) !important;
        border-bottom: 0 none;

        .tabbed-pane-header-tabs-drop-down-container {
          opacity: 1;
          color: $comments;
          padding: 4px 15px;
          height: 33px;

          &:hover {
            background-color: darken($background, 2.25%);
          }
        }

        .tabbed-pane-header-tab {
          position: relative;
          margin-right: 1px;
          margin-top: 0;
          @if $dark-theme == true {
            background: darken($background, 2%);
          } @else {
            background: darken($background, 1.5%);   
          }
          border: 0 none !important;
          box-shadow: inset 0 1px 0 darken($background, 3.5%),
                      inset 0 -1px 0 darken($background, 3.5%);
          color: $comments;
          transition: all 0.15s ease;

          .tabbed-pane-header-tab-title {
            box-sizing: content-box;
            padding: 0 16px;
          }

          .tabbed-pane-close-button {
            left: -4px;
          }

          ::shadow .close-button-gray {
            transition: all 0.15s ease;
            opacity: 0;
            transform: scale(0.25);

            &:hover {
              background-position: -175px -96px;
              opacity: 1;
              transform: scale(1);
            }
          }

          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 3px;
            background-color: $selectors;
            transform: scaleX(0);
            transition: inherit;
          }

          &.selected {
            position: relative;
            background: $background;
            box-shadow: 0 1px 0 $background;
            color: $body-text-highlight;

            &:before {
              transform: scaleX(1);
            }
          }

          &:hover {
            ::shadow .close-button-gray {
              visibility: visible;
              opacity: 1;
              transform: scale(1);
            }
          }

          &:last-child {
              margin-right: 0;
          }
        }
      }

      .tabbed-pane-content {
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 10px;
            background-image: linear-gradient($background 25%, transparent);
            position: absolute;
            z-index: 5;
            top: 0;
        }
      }

      .tabbed-pane-placeholder.fill{
        font-size: 16px;
        text-shadow: none !important;
        color: $comments;
      }

      > .view.vbox.visible {
          z-index: 9;
      }
    }
    
    // Console
    .console-view {
      .toolbar {
        background: darken($background, 3.5%) !important;
        border-bottom: 0 none;

        &::shadow {
          .toolbar-item {
            color: $body-text;
            text-shadow: none;
          }
        }
      }
      
      #console-messages {
        color: $body-text;
      }
    }

    // Gutter
    .CodeMirror .CodeMirror-gutters {
      background: $background-highlight;
      border-right: none;
    }

    // Line Numbers
    .CodeMirror-linenumber {
      font-size: 12px !important;
    }

    // Cursor
    .CodeMirror div.CodeMirror-cursor {
      border-left: 1px solid $body-text-highlight;
    }

    // Selection

    .CodeMirror .CodeMirror-selectedtext:not(.CodeMirror-persist-highlight) {
      color: white !important;
    }
    .CodeMirror-selected {
      background: $selectors;
    }

    .CodeMirror-focused .CodeMirror-selected {
      background: $selectors;
    }

    // CSS/JS selected brackets
    .CodeMirror .CodeMirror-matchingbracket {
      border-bottom: 1px solid $body-text;
    }

    // Comments
    .cm-xml-meta,
    .cm-xml-comment,
    .cm-js-comment,
    .cm-css-comment,
    .cm-s-default .cm-comment,
    .CodeMirror-linenumber,
    .split-view-main.split-view-contents-second pre {
      color: $comments;
    }

    .cm-xml-comment {
      font-style: italic;
    }

    // CSS Properties
    .cm-css-property,
    .cm-s-default .cm-keyword,
    .cm-s-default .cm-builtin {
      color: $property;
    }

    // CSS Tags / JS Operators
    .cm-css-def,
    .cm-css-tag,
    .cm-js-operator,
    .cm-s-default .cm-property {
      color: $operators;
    }

    // Body Text
    .cm-xml-attribute,
    .cm-css-variable-2,
    .cm-js-variable,
    .cm-js-variable-2,
    .cm-s-default .cm-def,
    .cm-s-default .cm-variable,
    .cm-s-default .cm-variable-2,
    .cm-s-default .cm-meta,
    .CodeMirror pre,
    .CodeMirror .CodeMirror-matchingbracket {
      color: $body-text !important;
      position: relative;
    }

    // Strings
    .cm-xml-string,
    .cm-css-atom,
    .cm-css-number,
    .cm-css-string,
    .cm-js-string-2,
    .cm-js-string,
    .cm-js-def,
    .cm-string,
    .cm-s-default .cm-string,
    .cm-s-default .cm-string-2,
    .object-value-number, 
    .object-value-boolean,
    .object-value-string,
    .object-value-regexp,
    .object-value-symbol {
      color: $strings;
    }

    // Numbers
    .cm-css-number,
    .cm-js-number,
    .cm-s-default .cm-number,
    .cm-js-atom,
    .cm-s-default .cm-atom {
      color: $strings;
    }

    // HTML Tags, Class/Id Selectors, JS keywords
    .cm-xml-tag,
    .cm-css-builtin,
    .cm-css-qualifier,
    .cm-css-variable,
    .cm-js-keyword,
    .object-value-null,
    .object-value-undefined {
      color: $selectors;
    }

    // CSS-Keyword
    .cm-css-keyword {
      color: $keyword;
    }

    // CSS Pseudo Element/Selectors
    .cm-css-variable-3,
    .cm-s-default .cm-variable-2 {
      color: $pseudo !important;
    }

    // UI - Pane tabs
    .tabbed-pane-header {
      flex: 0 0 30px;

      .tabbed-pane-header-tabs {
        margin-left: 12px;

        .tabbed-pane-header-tab {
          font-size: 10px;
          height: 28px;
          padding: 6px 12px !important;
        }
      }
    }

    // Panel Collapse buttons
    ::shadow button {

      &:hover {
        cursor: pointer;
      }

      &.right-sidebar-show-hide-button {
        .glyph {
          background: $comments;
          width: 16px;
          height: 16px;
          margin: 7px;
        }
      }

      &.left-sidebar-show-hide-button,
      &.top-sidebar-show-hide-button,
      &.right-sidebar-show-hide-button {
        top: 9px;
      }

      &.left-sidebar-show-hide-button,
      &.top-sidebar-show-hide-button {
        left: 7px;
      }

      &.right-sidebar-show-hide-button {
      }
    }

    .resizer-widget {
      display: none;
    }

    // Sources Left Panel
    .split-view-sidebar,
    .insertion-point-sidebar {
      background: $grey !important;
      font-size: 12px !important;

      .outline-disclosure li {
        padding: 3px 0 3px 14px;
      }

      .navigator li {
        height: inherit;
        line-height: inherit;
      }

      &::shadow {

        .tabbed-pane-header {
          background-color: transparent;
          border-bottom: 0 none;

          .tabbed-pane-header-tab {
            transition: all 0.25s ease;
            border-radius: 2px;
            border: 0 none;
            text-align: center;
            height: auto;
            margin-top: 5px;

            .tabbed-pane-header-tab-title {
              box-sizing: content-box;
              padding: 0 8px;
            }

            &.selected {
              border: 0 none;
            }
          }
        }
      }

        .scripts-debug-toolbar-drawer {
          flex: 0 0 54px;
          padding-top: 30px;

          &.expand {
            flex: 0 0 57px;
          }
        }

        .scripts-debug-toolbar {
          height: 30px;

          .status-bar-item {
            width: 32px;

            > .glyph {
              margin: 4px 6px 6px;
              width: 32px;
              height: 20px;
            }
          }
        }

        .sidebar-pane-stack {
          .sidebar-pane-title {
            height: 30px;
            padding: 5px 10px;
            border-top: 1px solid $grey;
            border-bottom: 1px solid $grey;
            line-height: 18px;

            .sidebar-pane-toolbar {
              top: 6px;
            }

            &:active {
              background-color: rgb(240, 240, 240) !important;
            }

            &:before {
              display: none;
            }
          }

          .sidebar-pane.visible {
            background: white;
            padding: 7px;
          }

          .event-listener-breakpoints.properties-tree li {
            height: 26px;
          }

          .source-code,
          .breakpoint-list .source-text {
            height: 30px;
            font-size: 12px !important;
          }

          .breakpoint-list {

            .cursor-pointer {
              margin: 4px 0;

              &:hover {
                background-color: rgba(56, 121, 217, 0.2);
              }

            }

            .source-text {
              padding: 6px;
              border-radius: 2px;
              margin-top: 5px;
            }
          }
        }

      .outline-disclosure ol:focus li.selected .selection,
      .navigator > ol.being-edited li.selected .selection {
        background-color: $selectors;
      }

      // Hide all local resource icons
      .navigator-document-tree-item,
      .navigator-folder-tree-item,
      .navigator-other-tree-item,
      .navigator-script-tree-item,
      .navigator-stylesheet-tree-item {
        .icon {
          display: none;
        }
      }
    }

    // Breakpoint color
    .cm-breakpoint .CodeMirror-linenumber {
      color: white !important;
      border-width: 0;
      border-radius: 1px;
      -webkit-border-image: none;
      height: 12px;
      background: $selectors;
      padding: 3px 8px 2px 1px;
      margin: 2px 0 0 3px !important;
      box-shadow: 0 0 4px rgba(0,0,0,0.15);

      &::after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          position: absolute;
          top: 3px;
          right: -6px;
          border-radius: 1px;
          border-top: 12px solid rgba(0, 0, 0, 0);
          border-right: 12px solid $selectors;
          -webkit-transform: rotate(-45deg);
          box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
      }
    }

    // Status bar (I like Sublime Text 2's)
    .sources-status-bar {
      background-color: rgb(85, 85, 85) !important;
      border-top: 1px solid rgb(50,50,50) !important;
      box-shadow: inset 0 1px 0 rgb(125,125,125) !important;

      .status-bar-item,
      .status-bar-text {
        color: #FFF;

        .glyph{
          background-color: #FFF;

          &.shadow {
              background-color: rgba(0,0,0,0.33);
          }
        }
      }
    }
  }
}