/* ==========================================================================
   Console Panel
   ========================================================================== */

.console,
.console-view-wrapper {
  .console-message::before,
  .console-user-command::before,
  #console-prompt::before,
  .console-group-title::before {
    background-image: none;
    top: 12px;
  }

  #console-prompt::before {
    content: "\203A";
    font-size: 1.5em;
    top: 6px;
    left: -20px;
  }

  .console-message > .outline-disclosure li.parent::before {
    top: 4px;
    margin-right: 4px;
  }

  .console-error-level ::shadow .stack-preview-container {
    color: #FF0033 !important;
  }
}