/* ==============================================
   Solarized Dark Theme
   ============================================== */

.sources {
	.split-view-main.split-view-contents-second{
		background-color: $sd-base03 !important;
	}

	.cm-xml-meta,
	.cm-xml-comment,
	.cm-js-comment,
	.cm-css-comment,
	.CodeMirror-linenumber,
	.split-view-main.split-view-contents-second pre {
	  color: $sd-base01;
	}
	
	.cm-xml-comment {
		font-style: italic;
	}
	
	.cm-css-property {
	  color: $sd-yellow;
	}
	
	.cm-css-def,
	.cm-css-tag,
	.cm-js-operator {
		color: $sd-green;
	}

	.cm-xml-attribute,
	.cm-css-variable-2,
	.cm-js-def,
	.cm-js-property,
	.cm-js-variable,
	.cm-js-variable-2,
	.CodeMirror .CodeMirror-matchingbracket {
		color: $sd-base0 !important;
		position: relative;
	}
	
	.cm-xml-string,
	.cm-css-atom,
	.cm-css-number,
	.cm-css-string,
	.cm-js-string,
	.cm-js-number,
	.cm-js-atom{
		color: $sd-cyan;
	}
	
	.cm-xml-tag,
	.cm-css-builtin,
	.cm-css-qualifier,
	.cm-js-keyword {
		color: $sd-blue;
	}

	.cm-css-keyword {
		color: $sd-red;
	}

	.CodeMirror .CodeMirror-gutters {
		background: $sd-base02;
		border-right: none;
	}

	.CodeMirror .CodeMirror-matchingbracket {
		border-bottom: 1px solid $sd-base0;
	}

	.CodeMirror-linenumber {
		font-size: 12px !important;
	}

	.cm-css-variable-3 {
		color: $sd-orange;
	}

	.tabbed-pane-header-tab {
		padding: 2px 8px;
		font-size: 10px;
	}

	.CodeMirror div.CodeMirror-cursor {
		border-left: 1px solid $sd-base1;
	}

	/*.tabbed-pane-header-tab.selected {
		border: 0 none !important;
		background: #002b36;
		color: #586e75;
	}*/
}

#sources-panel-sources-view .tabbed-pane-header {

}

#sources-editor-container-tabbed-pane .tabbed-pane-header-tab {
	border-bottom: 0 none;
}