/* ==========================================================================
   Chrome Canary Overrides
   ========================================================================== */

$tab-corner-offset: -37px;

.sources {
  .split-view-main.split-view-contents-second {
    .tabbed-pane-header {
      .tabbed-pane-header-tab {

        &::before,
        &::after{
          top: -10px;
        }

        &::before{
          left: $tab-corner-offset;
        }

        &::after{
          right: $tab-corner-offset;
        }
      }
    }
  }
}