<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../styles/theme.css" />
  <script src="../bower_components/modernizr/modernizr.js"></script>
</head>
<body>
  
  <div class="container row">
    <div class="large-4 columns">&nbsp;</div>
    <div class="large-4 columns text-center">
      <h4><small>Current Theme:</small></h4>
      <h1 ng-show="currentTheme"></h1>

<!--       <select ng-model="panel.selectedTheme" 
              ng-options="theme for theme in panel.themes">
      </select> -->
      <select data-model="panel.selectedTheme" 
              data-options="theme for theme in themes">
      </select>
      <button class="button small radius expand" 
              ng-click="save(panel.selectedTheme)">Save</button>

      <p class="success-text" ng-show="message">{{ message }}</p>
    </div>
    <div class="large-4 columns">&nbsp;</div>
  </div>

  <!-- bower:js -->
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/foundation/js/foundation.js"></script>
  <!-- endbower -->

  <script src="../scripts/theme.js"></script>
</body>
</html>