.dark-bg {
  color: $mercury;
  background-color: $rangoon-green;

  a:not(.button){
    &:visited,
    &:hover,
    &:active,
    &:focus {
      outline: none;
      color: $mercury;
    }

    &:hover {
      color: $mercury;
    }
  }
}