/*
 * Common layout styles
 */

.main-header,
.main-intro,
.feature-section,
.usage-section,
.faq-section {
  min-height: em-calc(900px);

  @media #{$medium-screen}{
    height: em-calc(900px);
  }
}

.feature-section,
.usage-section,
.faq-section {
  padding-top: em-calc(70px);

  @media #{$medium-screen}{
    padding-top: em-calc(140px);
  }
  
  h3, h4 {
    width: 90%;
    text-align: center;
    font-style: italic;
    margin: 0 auto 2em;

    @media #{$medium-screen}{
      width: 100%;
    }
  }
}