/*
 * Common layout styles
 */

.main-header,
.main-intro,
.feature-section,
.usage-section,
.faq-section {
  height: em-calc(900px);
}

.feature-section,
.usage-section,
.faq-section {
  padding-top: em-calc(140px);
  
  h3, h4 {
    text-align: center;
    font-style: italic;
    margin-bottom: 2em;
  }
}