.faq-section {

  dl {
    width: 100%;
    max-width: em-calc($medium);
    margin: 0 auto 6em;
    text-align: center;

    dt {
      font-style: italic;
      font-size: type-scale(1);
    }

    dd {
      a {
        color: $turquoiseblue;

        &::before {
          background-color: $turquoiseblue;
        }
      }
    }

    dt,
    dd {
      margin: 0 0 1rem;
    }
  }

  .fake-element {
    color: $pablo;
  }
}