$wave-scale: 15;
$wave-speed: 2s;

.feature-section {
  background-image: url('images/chrome-512.png');
  background-repeat: no-repeat;
  background-position: center 118%;
  background-size: em-calc(300px);

  @include animation(
    $name: chrome-bump-small,
    $duration: $wave-speed * 2,
    $delay: $wave-speed * ( 2 / -$wave-scale )
  );

  @media #{$medium-screen}{
    background-position: center 155%;
    background-size: auto auto;

    @include animation(
      $name: chrome-bump-large,
      $duration: $wave-speed * 2,
      $delay: $wave-speed * ( 2 / -$wave-scale )
    );
  }

  .callout {
    height: em-calc(160px);

    @media #{$medium-screen}{
      height: em-calc(180px);
      margin-bottom: 5rem;
    }

    @media #{$large-screen}{
      height: em-calc(200px);
      margin-bottom: 5rem;
    }

    h4 {
      font-size: type-scale(1);
      width: 100%;
      margin: 0 auto;

      @media #{$medium-screen}{
        font-size: type-scale(0);
        padding: 0 em-calc(14px);
      }
      
      @media only screen and (min-width: 790px){
        padding: 0;
      }

      @media #{$large-screen}{
        position: absolute;
        bottom: 0.5rem;
        padding: 0 em-calc(20px);
        margin: 0 0 1em -2rem;
      }
    }

    &.font-family h4 {
      @media #{$medium-screen}{
        padding: 0;
      }
      
      @media only screen and (min-width: 783px){
        padding: 0 em-calc(14px);
      }
      
      @media only screen and (min-width: 790px){
        padding: 0;
      }
    }

    .theme-demo {
      width: em-calc(80px);
      height: em-calc(80px);
      position: relative;
      margin: 0.5rem auto 0;

      [class^='theme-'] {
        display: inline-block;
        width: em-calc(40px);
        height: em-calc(40px);
        position: absolute;
      }

      .theme-monokai-1 { 
        background-color: $rangoon-green;
        top: 0;
        left: 0;
      }

      .theme-monokai-2 { 
        background-color: $pablo;
        top: em-calc(5px);
        left: em-calc(10px);
      }

      .theme-monokai-3 { 
        background-color: $turquoiseblue;
        top: em-calc(10px);
        left: em-calc(20px);
      }

      .theme-monokai-4 { 
        background-color: $inchworm;
        top: em-calc(15px);
        left: em-calc(30px);
      }

      .theme-monokai-5 { 
        background-color: $radical-red;
        top: em-calc(20px);
        left: em-calc(40px);
      }
    }

    .hack-demo {
      display: inline-block;
      font-family: $monospace;
      font-size: type-scale(4);
      margin: 0.70rem 0 0.45rem;

      @media #{$medium-screen}{
        font-size: type-scale(3);
        margin: 1.15rem 0 0.35rem;
      }

      @media #{$large-screen}{
        font-size: type-scale(4);
        margin: 0.25rem 0 0.35rem;
      }
    }

    [class^='font-size-']{
      font-weight: 400;
      color: $radical-red;
    }

    .font-size-demo {
      margin: 0.75rem 0 1em;

      @media #{$medium-screen}{
        font-size: em-calc(16px);
        margin: 1.35rem 0 0.9rem;
      }

      @media only screen and (min-width: 790px){
        font-size: em-calc(18px);
        margin: 1.15rem 0;
      }

      @media #{$large-screen}{
        font-size: em-calc(20px);
      }
    }

    .font-size-10 {
      font-size: em-calc(20px, $base-font, 'em');
    }

    .font-size-12 {
      font-size: em-calc(24px, $base-font, 'em');
    }

    .font-size-14 {
      font-size: em-calc(28px, $base-font, 'em');
    }

    .font-size-16 {
      font-size: em-calc(32px, $base-font, 'em');
    }
  }

  .storage-section {
    padding-bottom: em-calc(160px);
    
    @media #{$medium-screen}{
      padding-bottom: em-calc(150px);
    }
    
    @media only screen and (min-width: 865px){
      padding-bottom: em-calc(160px);
    }

    .cloud {
      display: block;
      width: 50%;
      height: auto;
      min-width: em-calc(110px);
      max-width: em-calc(160px);
      margin: 0 auto;

      @media #{$medium-screen}{
        width: auto;
        height: auto;
        max-width: em-calc(183px);
      }
      
      .cumulonimbus {
        @include animation(
          $name: cloud-stroke-fill,
          $duration: $wave-speed * 2,
          $delay: $wave-speed / 3
        );
      }
    }

    .radio {
      position: relative;
      top: em-calc(20px);
      display: block;
      width: auto;
      height: auto;
      min-height: em-calc(20px);
      max-height: em-calc(30px);
      margin: 0 auto;

      @include animation(
        $name: rotate-pause,
        $duration: $wave-speed * 2
      );

      @media #{$medium-screen}{
        top: em-calc(25px);
        width: auto;
        height: auto;
        max-height: em-calc(50px);
      }

      .wave {
        @include animation(
          $name: wave-fill,
          $duration: $wave-speed,
          $timing-function: ease('in-out-cubic')
        );

        &:nth-child(2) {
          animation-delay: $wave-speed * ( 1 / $wave-scale ); 
        }

        &:nth-child(3) {
          animation-delay: $wave-speed * ( 2 / $wave-scale ); 
        }
      }
    }
  }
}