/*
 * Grid
 */

.container {
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
  }
}

.row {
  width: 100%;
  position: relative;
  @include cf;

  @media #{$medium-screen}{ 
    margin-left: -1em;
    margin-right: -1em;
  }
}

[class^="col-"] {
  width: 100%;
  float: left;
  min-height: 1px; 
  padding: 0 1em;
}

@for $i from 1 through 12 {
  .col-#{$i} { 
    @media #{$medium-screen}{
      width: ($i / 12) * 100%;
    }
  }
}