.main-header {
  box-shadow: inset 0 10px 0 0 $rangoon-green;

  .sitename {
    font-weight: 300;
    line-height: 1.25;
  }

  @media #{$large-screen}{
    padding-top: em-calc(80px);
    background-image: url('images/devtools-author-monokai-theme.png');
    background-repeat: no-repeat;
    background-position: center 200%;

    .row {
      width: 60%;
      margin: 0 auto;
    }

    .logo {
      float: left;
    }

    .sitename {
      margin-top: em-calc(100px);
      margin-left: em-calc(25px);
      width: 40%;
      float: left;
    }
  }
}