$header-delay: 1s;
$header-duration: 1.75s;

.main-header {
  padding-top: em-calc(80px);
  background-image: url('images/devtools-author-monokai-theme.png');
  background-repeat: no-repeat;
  background-position: center 200%;
  text-align: center;
  min-height: 47rem;

  .hero {
    @include animation(
      $name: fade-in-down, 
      $duration: 1s,
      $timing-function: ease('swift-out'),
      $delay: 1s,
      $iteration-count: 1
    );

    .sitename {
      @include animation(
          $name: fade-in-down,
          $duration: $header-duration,
          $timing-function: ease('swift-out'),
          $delay: $header-duration,
          $iteration-count: 1
      );

      @media #{$medium-screen}{
        @include animation(
          $name: fade-in-right,
          $duration: $header-duration,
          $timing-function: ease('swift-out'),
          $delay: $header-duration,
          $iteration-count: 1
        );
      }
    }
  }

  @include animation(
    $name: devtools-peep,
    $duration: $header-duration,
    $timing-function: ease('swift-out'),
    $delay: $header-delay + 2,
    $iteration-count: 1
  );

  .logo {
    max-width: em-calc(240px);
  }

  .sitename {
    font-weight: 300;
    line-height: 1.25;

    @media #{$medium-screen}{
      margin-bottom: 0.5em;
    }
  }

  .button {
    font-size: type-scale(-1);
  }

  .call-to-action {
    text-align: center;
  }

  @media only screen and (min-width: 360px){
    min-height: 45rem;
  }

  @media only screen and (min-width: 640px) and (max-width: 1024px){
    min-height: 46rem;
  }

  @media #{$medium-screen}{
    .row {
      margin: 0 auto;
    }

    .col-12 {
      padding: 0;
    }
    
    .logo {
      max-width: em-calc(280px);
      @include animation(
        $name: move-logo-left, 
        $duration: 1s,
        $timing-function: ease('swift-out'),
        $delay: $header-duration + 0.25s,
        $iteration-count: 1
      );
    }
  }

  @media #{$large-screen}{
    text-align: left;

    .hero {
      max-width: 60%;
    }

    .logo {
      max-width: em-calc(320px);
      float: left;
    }

    .sitename {
      margin-top: em-calc(100px);
      margin-left: em-calc(25px);
      width: 40%;
      float: left;
    }
  }
}