.main-intro {

  .subtitle {
    font-style: italic;
  }

  .main-intro-image {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
  }

  .row {
    height: 100%;
  }

  .cta {
    display: block;
    background-color: $radical-red;
    color: $lilywhite;
    margin: 1.75em 0;

    &:focus,
    &:hover {
      transform: scale(1.03);
      background-color: darken(#FB2E72, 5%);
    }

    &:active {
      transform: scale(0.93);
    }
  }

  .content {
    position: relative;
  }

  .link-to-github {
    color: $pablo;
  }

  @media #{$large-screen} {
    .main-intro-image {
      position: absolute;
      top: 50%;
      left: -40%;
      margin-top: em-calc(-319.5px);
    }

    .subtitle {
      width: em-calc(400px);
    }

    .content {
      top: em-calc(267px);
    }

    .link-to-github {
      font-size: type-scale(-1);
    }
  }

  @media #{$xlarge-screen} {
    .main-intro-image {
      left: -45%;
    }
  }
}