.main-intro {
  text-align: center;
  padding-top: em-calc(100px);

  .subtitle {
    font-style: italic;
  }

  .main-intro-image {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: em-calc(70px);

    @media #{$medium-screen}{
      width: em-calc(832px);
      position: absolute;
      top: 50%;
      left: em-calc(-540px);
      margin-top: em-calc(-319.5px);
      margin-bottom: 0;
    }

    @media #{$large-screen}{
      position: absolute;
      top: 50%;
      left: -40%;
      margin-top: em-calc(-319.5px);
      margin-bottom: 0;
    }

    @media #{$xlarge-screen} {
      left: -45%;
    }
  }

  .row {
    height: 100%;
  }

  .cta {
    display: block;
    background-color: $radical-red;
    color: $lilywhite;
    margin: 1.75em 0;

    &:focus,
    &:hover {
      transform: scale(1.03);
      background-color: darken(#FB2E72, 5%);
    }

    &:active {
      transform: scale(0.93);
    }
  }

  .content {
    position: relative;
  }

  .link-to-github {
    color: $pablo;
  }

  @media #{$medium-screen} {
    text-align: left;
    padding-top: 0;

    .subtitle {
      width: 100%;
      max-width: em-calc(400px);
    }

    .content {
      top: em-calc(267px);
    }

    .link-to-github {
      font-size: type-scale(-1);
    }
  }
}