.usage-section {
  
  .installation {
    width: 100%;
    max-width: em-calc($medium);
    margin: 0 auto 3em;
    background-color: $blackhunt;
    border-radius: 3px;
    padding: 1rem;

    @media #{$medium-screen}{
      font-size: type-scale(-1);
      padding: 2rem;
    }

    li {
      margin: 0 0 0.5rem 1.5rem;
    }

    .link {

      &:before {
        background-color: $radical-red;
      }

      &.internal {
        display: inline-block;
        word-wrap: break-word;
        word-break: break-word;
        overflow-wrap: break-word;
      }
    }

    .comment {
      color: $pablo;
      font-style: italic;

      a {
        &:before {
          background-color: $turquoiseblue;
        }

        &:hover {
          color: lighten($turquoiseblue, 10%);
        }
      }
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  .github-issues {
    &::before {
      content: '';
      display: block;
      width: em-calc(48px);
      height: em-calc(48px);
      background-image: url('images/GitHub-Mark-Light-64px.png');
      background-repeat: no-repeat;
      background-size: 48px;
      margin: -0.4rem auto 1.4rem;
      opacity: 0.1;
    }
  }
}