.usage-section {
  
  .installation {
    width: 100%;
    max-width: em-calc($medium);
    margin: 0 auto 3em;
    background-color: $blackhunt;
    border-radius: 3px;
    padding: 1rem;

    @media #{$medium-screen}{
      font-size: type-scale(-1);
      padding: 2rem;
    }

    li {
      margin: 0 0 0.5rem 1.5rem;
    }

    .link {
      color: $radical-red;

      &:before {
        background-color: $radical-red;
      }

      &:hover {
        color: lighten($radical-red, 10%);
      }

      &.internal {
        display: inline-block;
        color: $inchworm;

        &:before {
          background-color: $inchworm;
        }

        &:hover {
          color: lighten($inchworm, 10%);
        }
      }
    }

    .keyword {
      color: $turquoiseblue; 
    }

    .option {
      color: $confetti;
    }

    .comment {
      color: $pablo;
      font-style: italic;

      a {
        &:before {
          background-color: $turquoiseblue;
        }

        &:hover {
          color: lighten($turquoiseblue, 10%);
        }
      }
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  .keyword {
    color: $turquoiseblue; 
  }
}