/*
@styleguide

# Animations

Use the button classes on an `<a>`, `<button>`, `<input>` element.

@include animation(
  $name
  $duration: 0.25s,
  $timing-function: ease('material'),
  $delay: 0s,
  $iteration-count: infinite,
  $direction: normal,
  $fill-mode: both,
  $play-state: running
)

*/

// Animation properties 
$duration:        0.25s;
$timing-function: ease('material');
$delay:           0s;
$iteration-count: infinite;
$direction:       normal;
$fill-mode:       both;
$play-state:      running;

// Animate mixin
@mixin animation(
  $name, 
  $duration: $duration,
  $timing-function: $timing-function,
  $delay: $delay,
  $iteration-count: $iteration-count,
  $direction: $direction,
  $fill-mode: $fill-mode,
  $play-state: $play-state
){
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing-function;
  animation-delay: $delay;
  animation-iteration-count: $iteration-count;
  animation-direction: $direction;
  animation-fill-mode: $fill-mode;
  animation-play-state: $play-state;
}

// Specific Animations
@keyframes wave-fill {
  0%   { fill: transparent; }
  10%  { fill: $googleblue; }
  30%  { fill: $googleblue; }
  40%  { fill: transparent; }
  100% { fill: transparent; }
}

@keyframes cloud-stroke-fill {
  0%   { stroke: $lilywhite;  fill: transparent; }
  10%  { stroke: $googleblue; fill: $googleblue; }
  45%  { stroke: $googleblue; fill: $googleblue; }
  55%  { stroke: $lilywhite;  fill: transparent; }
  100% { stroke: $lilywhite;  fill: transparent; }
}

@keyframes rotate-pause {
  0%   { transform: rotate(0); }
  30%  { transform: rotate(0); }
  40%  { transform: rotate(180deg); }
  100% { transform: rotate(180deg); }
}

@keyframes chrome-bump-small {
  0%   { background-position: center 118%; }
  3%   { background-position: center 119%; }
  5%   { background-position: center 116%; }
  10%  { background-position: center 118%; }
  100% { background-position: center 118%; }
}

@keyframes chrome-bump-large {
  0%   { background-position: center 155%; }
  3%   { background-position: center 157%; }
  5%   { background-position: center 151%; }
  10%  { background-position: center 155%; }
  100% { background-position: center 155%; }
}

@keyframes devtools-peep {
  0%   { background-position: center 350%; }
  70%  { background-position: center 192%; }
  85%  { background-position: center 206%; }
  100% { background-position: center 200%; }
}

@keyframes move-logo-left {
  0% { 
    transform: translate3d(40%, 0, 0);
  }

  100% { 
    transform: none;
  }
}

// General Animations
@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in-down {
  0% { 
    opacity: 0;
    transform: translate3d(0, -25%, 0);
  }

  100% { 
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in-right {
  0% { 
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }

  30% { 
    opacity: 0;
  }

  100% { 
    opacity: 1;
    transform: none;
  }
}
